In [2]:
print("Hello world")

print("My Name Is Shubham")
print("I Live In bangalore")
print("I am a Data Engineer")
#here we are using print function for diff line

##now if we want print this statement in  single line just we have to use , for  seperate the statemet
print("hello world","my name is shubham", "i live in bangalore", "I am a Data Endineer")

Hello world
My Name Is Shubham
I Live In bangalore
I am a Data Engineer
hello world my name is shubham i live in bangalore I am a Data Endineer

# Python Character Set
-Letters - A to Z , a to z
-Digits- 0-9
- special symbols- !,@,$%&*^
- white spaces(just space),tab , newline

In [32]:
#variables
###A variable is name given too a memory location in a program
#here name is a variable
# Basic Syntax
 #variable_name=Value
name="Shubham"
age=30
height=5.7
is_student= True
print(name,age,height,is_student)

Shubham 30 5.7 True

In [33]:
#Rules For Variable Name
#must start with letter or under score(_)
# not star by a number
#we can use number after letter or underscore
##eg. == name, _age, Name1, Stedent_1

### Variable must contain only letter, numbers and underscore
 ## First_name,Age2(it we can use)
 ## first-name, age@(it does not work )


#### Python is case sensitive
name= "Shubham"
Name= "SHUBHAM"
print(name,Name)
## because of python is case sensitive bothe name & Name work differntly

###there are some reserved keywords which we can not use as Varible
import keyword

# Get the list of reserved keywords
keywords = keyword.kwlist

# Print them
print(keywords)

Shubham SHUBHAM
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Data Types in Python

In [34]:
name="Shubham"
age= 30
height= 5.7
is_student= True

In [ ]:
print(type(name)) #string
print(type(age))#int(number)
print(type(height))#float
print(type(is_student))##bool(always start with capital )

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

Operators
  -operators are special syymbols or keywords in python 
  - that performs operations on values and variables
  example== +, -, *, %,/ are the operatores

## 1 Arithmetic Operators 
Use for basic mathematical calculations
+: Addition
-: Substraction
*: Multiplication
/: Division
//:Floar division (out put was whole number)
% : modulus (gives remider as out put)
** or ^: exponent(power)

In [57]:
##for Example
a= 20
b=3
print(a+b)
print(a-b)
print(a/b)
print(a//b)
print(a%b)
print(a*b)
print(a**b)
print(a^b)

23
17
6.666666666666667
6
2
60
8000
23

#Comparison (Relational) Operators

Use to compare two Values
they return with only True and False 

== : Equal to  ex:5==6 it returns with True or False

!= : Not Equal to

> : Greater Than 
< : Lesser than
>= : Greater then Equal To
<= : Lesser than Equal to

In [58]:
5==4
5!=3

True

In [59]:
## Logical Operators
#use to combine multiple Conditions

#and: True is both condditions are true (5>3 and 10>5): True , False

#or: true if one conddition is true (5<3 or 5>3) : True

# not : revers the result not(5>3): False

In [60]:
a= 10
b=20

print(a<b and b>a )
print(a>b or b>a)
print(not(a>b))

True
True
True

In [2]:
##Assignment operator
#this are use to asign values (also it can do calculations at the same time.)
#= : asign values. if x=5 this mean value of x ix 5

#+= : add and asign.  now x+=3 this mens back it add 3 in x and now new asigned value of x is 8

#-= : substract and asign aslo if x-=4 now new value of x is 4 

#*- : multiply and asign

#  /+ : devide and asign

#//= : floar devide and asign

# %+ : modulus and asign

# **+ : Power and asign

### Membership asignments

In [6]:
# used to check if a value exist in a sequence (list, string , tuple, )
#in: True if value exists ex= "a" in "apple"
"a" in "apple"

True

In [ ]:
## not in : True if value does not exist
"z" not in "Shubham"

True

### Identity  Operators

-- Check whether two variables refer to the same object..
-- is: True if value are same after asign
-- is not: True if values are same bur asign by diff variables

In [8]:
x= [1,2,3]
y=x
z=[1,2,3]

print(x is y) # True (same object)
print(x is z) # False (diff object , even values are same)
print(x is not z) # True

True
False
True

### Arithmetic Operations
-- Math Operations

- Comparison == Compare values 

- Logical = Combine Condition

-assignment = asign and update values

-Membership = Check if value exist in the sequense

--Identity = Check if two varibles are two objects

In [9]:
name= 'Shubham'
age=30 
city= "Pune"

# My name is Shubham , I an 30 years , i'm from Pune

print("My name is",name, "I am" ,age, "years", "i'm from", city)

My name is Shubham I am 30 years i'm from Pune

##f-string (formatter string)

f-sring let you embed variables inside a string easily . It's more readable than concatination.

Syntax for using f-string== f"some text{variable}more text"

In [11]:
name= 'Shubham'
age=30 
city= "Pune"

print(f"my name is {name}.i am {age} years and i'm from {city}")

my name is Shubham.i am 30 years and i'm from Pune