##Input function
 The input fuction is used to get input from the user.

 By default , whatever you enter using inout() is treated as a string.

In [11]:
name= input("Enter Your Name: ")
print(type(name))
print(name)
print("welcome "+ name)

<class 'str'>

welcome

In [12]:
age= input("Enter Your age")
print("Now you are " + age+ " years old")

Now you are 30 years old

In [ ]:
##int casting int()= this will be convert datatype in to integer
age=int(input("Enter Your age"))
print(age)
print(type(age))

In [ ]:
age=int(input("Enter Your age"))
print(age)
print(type(age))

Birth_year= 2025-age
print(Birth_year)

30
<class 'int'>
1995

In [3]:
### float Casting float()= it cast values  in float
height=float(input("Enter Your Height in ft : "))
print("you are ",height," ft tall.")
print(type(height))

you are  5.7  ft tall.
<class 'float'>

In [4]:
num1= input("Enter First number: ")
num2= input("Enter SSecond number: ")
sum= num1+num2
print(sum)

2030

In [5]:
num1= int(input("Enter First number: "))
num2= int(input("Enter SSecond number: "))
sum= num1+num2
print(sum)

50

In [10]:
## Calculate area of rectangle

length=float (input("enter length in mtr:"))
width= float (input("enter width in mtrs: "))
area= length*width
print("area of rectangle is:",area, "sqmtrs")

area of rectangle is: 7.819999999999999 sqmtrs

In [11]:
## Calculate Age next Year (str+int)
name=input("enter your name: ")
age= int(input("enter your age: "))
print(name, " next year you will be", age+1)

shubham  next year you will be 31

##Indexing and Slicing

-- Indexing:- Accessing a single character at a specific aposition (index) , python use 0- based 
   indexing (first char is at index 0).
   
   Negative index :- cout from the end (-1 is the last character )


--Slicing:- Extracting a portion (substring) of the string using [start:step:step]

In [1]:
#slicing 

#get first 5 characters of tech_stack

tech_stack = "Data Science ans Python" 

len(tech_stack)

23

In [ ]:
#for fetching 5 characters of tech_stack

first_5= tech_stack[0:5]
print(first_5)

TypeError: string indices must be integers, not 'tuple'

In [7]:
institute= "Edukron"
first_5= institute[0:5]
print(first_5)

Edukr

In [9]:
course_name="Data Engineering"
slice_Engineering= course_name[5:]
print(slice_Engineering)

Engineering

In [10]:
course_name="Data Engineering Course"
slice_Engineering= course_name[5:16]
print(slice_Engineering)

Engineering

In [11]:
tech_stack= "Data Science and Python is fun"
#output: ata Science and Python is fu

new_stack=tech_stack[1:-1]
print(new_stack)

ata Science and Python is fu

In [12]:
#varible[start:step:step]
#Fetch evry second character of tach_stack
tech_stack= "Data Science and Python is fun"
step_2=tech_stack[::2]
print(step_2)

Dt cec n yhni u

In [14]:
tech_stack= "Data Science and Python is fun"
step_2=tech_stack[::3]
print(step_2)

Dacn dyoif

In [19]:
#Reverse the institute name using slicing
institute= "Edukron"
rev_institute=institute[::-1]
print(rev_institute)

norkudE

In [20]:
tech_stack= "Data Science and Python is fun"
rev_tech_stack=tech_stack[::-1]
print(rev_tech_stack)

nuf si nohtyP dna ecneicS ataD