In [41]:
### Lower and UPPER sring

In [42]:
##lower(): Return A new string with all characters convert into lower case
##upper():Return A new string with all characters convert into upper case

In [43]:
institute= "Edukron"
focus_area= "Data Engineer"
tech_stack= "Azure Data Engineer and Python"

In [44]:
## Lower 
lower_institute= institute.lower()
print(lower_institute)

lower_focus_area= focus_area.lower()
print(lower_focus_area)

lower_tech_stack= tech_stack.lower()
print(lower_tech_stack)

edukron
data engineer
azure data engineer and python

In [45]:
lower_institute= institute.lower()
print(f"Lower case Institute: '{lower_institute}")

lower_focus_area= focus_area.lower()
print(f"Lower case Focus Area: '{lower_focus_area}")

lower_tech_stack= tech_stack.lower()
print(f"Lower case Tech Stack: '{lower_tech_stack}")

Lower case Institute: 'edukron
Lower case Focus Area: 'data engineer
Lower case Tech Stack: 'azure data engineer and python

In [46]:
## Upper
upper_institute= institute.upper()
print(f"Upper case Institute: '{upper_institute}'")

upper_focus_area= focus_area.upper()
print(f"Upper case Focus Area: '{upper_focus_area}'")

upper_tech_stack= tech_stack.upper()
print(f"Upper case Tech Stack: '{upper_tech_stack}'")

Upper case Institute: 'EDUKRON'
Upper case Focus Area: 'DATA ENGINEER'
Upper case Tech Stack: 'AZURE DATA ENGINEER AND PYTHON'

In [47]:
mixed_case = "PyThoN ProJEct"
mixed_lower = mixed_case.lower()
mixed_upper = mixed_case.upper()
print(f"Mixed Lower:'{mixed_lower}'")
print(f"Mixed Upper:'{mixed_upper}'")

Mixed Lower:'python project'
Mixed Upper:'PYTHON PROJECT'

In [48]:
## numer and special characters are not affected by lower and upper
code="Batch-121-Data Engineer"
Lower_code= code.lower()
Upper_code= code.upper()
print(f"Upper Code:'{Upper_code}'")
print(f"Lower Code:'{Lower_code}'")

Upper Code:'BATCH-121-DATA ENGINEER'
Lower Code:'batch-121-data engineer'

In [49]:
##Changing after concatinatio

full_title= institute + " : " + focus_area
upper_title=full_title.upper()
upper_title

'EDUKRON : DATA ENGINEER'

In [50]:
##White Space= just unwanted space is called white space
##for remove the white space we use strip function
##strip([char]):= Returns new string with leading and trailing character removed
##lstrip([char]): removing the left spaces if the having
##rstrip([char]): removing the right spaces if they having

In [51]:
user_input="    Data Engineer    "
cleaned_input = user_input.strip()
cleaned_input

'Data Engineer'

In [52]:
##lstrip
user_input="    Data Engineer    "
lstrip_user_input= user_input.lstrip()
lstrip_user_input

'Data Engineer    '

In [53]:
##rstrip
user_input="    Data Engineer    "
rstrip_user_input= user_input.rstrip()
rstrip_user_input

'    Data Engineer'

In [54]:
##Replace function= To use to remove any perticular what we want
##str.replace(old,new)
##Returns a new string when all occcurance of the substring old are replace with new substring.

In [55]:
course_slogan="Learn Data Science with Real-Time Projects"
tech_stack="azure devops and python and sql"

In [56]:
##i have to change 'Data Science' with 'Data Engineer'
new_slogan= course_slogan.replace("Data Science","Data Engineer")
new_slogan

'Learn Data Engineer with Real-Time Projects'

In [57]:
##here we wand to replace and with &
tech_stack="azure devops and python and sql"
new_tech_stack= tech_stack.replace("and","&")
new_tech_stack

'azure devops & python & sql'

In [58]:
##here we have to replace all space with _
slug= tech_stack.replace(" ","_")
slug

'azure_devops_and_python_and_sql'

In [59]:
## just chane first occurance of and 
##str.replace("old","new",count)++ count== we can cotrol how namy occurance we have to replace
first_occurance=tech_stack.replace("and","&",1)
first_occurance

'azure devops & python and sql'

In [60]:
###split function

In [62]:
institute= "Edukron"
focus_area= "Data Engineer"
tech_stack= "Azure Data Engineer and Python"

In [61]:
word=tech_stack.split()
word

['azure', 'devops', 'and', 'python', 'and', 'sql']

In [63]:
buddy=" me,vishnu,vyankat and niraj "
split=buddy.split(',')
split

[' me', 'vishnu', 'vyankat and niraj ']

In [64]:
institute= "Edukron"
split=institute.split('k')
split

['Edu', 'ron']

In [65]:
##maxsplit= we can control split by using maxsplit
tech_stack= "Azure Data Engineer and Python"
split_limit= tech_stack.split(maxsplit=2)
split_limit

['Azure', 'Data', 'Engineer and Python']

In [66]:
##joins= str.join(itterables)
##it is opposite of split, take an itrable (like a list and tuple) of string and concanate its elements

In [67]:
course_list= ["Data science","Data Engineering","Azure Devops"]
tech_skills=("python","SQL","Git","CI/CD")
words=['learn','Data','Engineering']

In [68]:
#joining course list with coma and space
joined_course= ", ".join(course_list)
joined_course

'Data science, Data Engineering, Azure Devops'

In [69]:
tech_skills=("python","SQL","Git","CI/CD")
join_skills= "-".join(tech_skills)
join_skills

'python-SQL-Git-CI/CD'

In [70]:
separator="/"
course_list= ["Data science","Data Engineering","Azure Devops"]
join_separator= separator.join(course_list)
join_separator

'Data science/Data Engineering/Azure Devops'